*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
footer{
  .container{
    min-height: 10vh;
    background-color: lightblue;

  }
}

.content{
  text-align: center;
  min-height: 80vh;
  background-color: pink;
  ul{
    font-size: 25px;
    line-height: 50px;
    list-style-type: circle;
  }
  form{
    line-height: 50px;
    input{
      height: 2em;
    }
    label{
      font-weight: bold;
    }
  }
}
